client/.expo
client/.vscode
client/node_modules

server/node_modules
server/.env

server/uploads/profiles/*
!server/uploads/profiles/.gitkeep

server/uploads/vehicles/*
!server/uploads/vehicles/.gitkeep

server/uploads/reviews/*
!server/uploads/reviews/.gitkeep

server/uploads/destinations/*
!server/uploads/destinations/.gitkeep

Travel_System_Workflow_v2.md
UI_Design_Prompt_v2_LightTheme.md

*.log
.DS_Store


